<%- include('partials/header') -%>


<div class="container">
    <div class="row">
        <div class="col">
            <h1>DoIT - Just do it!</h1>
        </div>
    </div>
</div>

<div class="container mt-5">

    <div class="row mt-3">
        <div class="col-lg-3">
            <h3>Today</h3>


            <% dados.forEach(function(dados) { %>

            <% if(dados.Priority == 1){ %>
            <div class="shadow-sm p-3 mb-1 table-primary rounded">
                <td><%= dados.TaskName %></td>
            </div>
            <% }if(dados.Priority == 2){ %>
            <div class="shadow-sm p-3 mb-1 table-warning rounded">
                <td><%= dados.TaskName %></td>
            </div>
            <% }if(dados.Priority == 3){ %>
            <div class="shadow-sm p-3 mb-1 table-danger rounded">
                <td><%= dados.TaskName %></td>
            </div>
            <% } %>

            <% }); %>

            <button class="btn btn-light">Add Task</button>
        </div>

        <div class="col-lg-3">
            <h3>Tomorrow</h3>


            <% dados.forEach(function(dados) { %>

            <% if(dados.Priority == 1){ %>
            <div class="shadow-sm p-3 mb-1 table-primary rounded mask flex-center">
                <td><%= dados.TaskName %></td>
            </div>
            <% }if(dados.Priority == 2){ %>
            <div class="shadow-sm p-3 mb-1 table-warning rounded">
                <td><%= dados.TaskName %></td>
            </div>
            <% }if(dados.Priority == 3){ %>
            <div class="shadow-sm p-3 mb-1 table-danger rounded">
                <td><%= dados.TaskName %></td>
            </div>
            <% } %>

            <% }); %>


        </div>
    </div>





</div>
<%- include('partials/footer'); -%>