<%- include('partials/header') -%>



<div class="container mt-5">

    <div class="row mt-6">
        <div class="col-lg-6">
            <h3>Today</h3>
            <hr>

            <% dados.forEach(function(dados) { %>

            <% if(dados.Priority == 1){ %>

            <div class="shadow-sm p-3 mb-2 table-primary rounded">
                <td>

                    <strong><%= dados.Title %></strong><br>
                    <%= dados.Description %><br><br>
                    <% if(dados.Status == 1){ %>
                    <em>Status: Not initialized</em>

                    <% } if(dados.Status == 2){ %>
                    <em>Status: In progress</em>

                    <% } if(dados.Status == 3){ %>
                    <em>Status: On hold</em>
                    <% } %>
                </td>
                <div class="row">
                    <div class="col text-right">
                        <i id="icons" class="material-icons">
                            <a href="/edit/<%= dados._id %>">edit</a>
                            <a href="/delete/<%= dados._id %>">delete_forever</a>
                        </i>
                    </div>
                </div>

            </div>
            <% }if(dados.Priority == 2){ %>
            <div class="shadow-sm p-3 mb-2 table-warning rounded">
                <td>
                    <strong><%= dados.Title %></strong><br>
                    <%= dados.Description %><br><br>
                    <% if(dados.Status == 1){ %>
                    <em>Status: Not initialized</em>

                    <% } if(dados.Status == 2){ %>
                    <em>Status: In progress</em>

                    <% } if(dados.Status == 3){ %>
                    <em>Status: On hold</em>
                    <% } %>
                    <div class="row">
                        <div class="col text-right">
                            <i id="icons" class="material-icons">
                                <a href="/edit/<%= dados._id %>">edit</a>
                                <a href="/delete/<%= dados._id %>">delete_forever</a>
                            </i>
                        </div>
                    </div>
                </td>
            </div>
            <% }if(dados.Priority == 3){ %>
            <div class="shadow-sm p-3 mb-2 table-danger rounded">
                <td>
                    <strong><%= dados.Title %></strong><br>
                    <%= dados.Description %><br><br>
                    <% if(dados.Status == 1){ %>
                    <em>Status: Not initialized</em>

                    <% } if(dados.Status == 2){ %>
                    <em>Status: In progress</em>

                    <% } if(dados.Status == 3){ %>
                    <em>Status: On hold</em>
                    <% } %>
                    <div class="row">
                        <div class="col text-right">
                            <i id="icons" class="material-icons">
                                <a href="/edit/<%= dados._id %>">edit</a>
                                <a href="/delete/<%= dados._id %>">delete_forever</a>
                            </i>
                        </div>
                    </div>

                </td>
            </div>
            <% } %>

            <% }); %>


        </div>



    </div>
</div>





</div>
<%- include('partials/footer'); -%>